.btn 
{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'El Messiri';
    font-size: 20px;
    margin: 10px 30px;
    height: 60px;
    width: 200px;
}

.btn-blue 
{
    background-color: #90553c;
}

.label{
    color: #482e1d;
}

.btn-small 
{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 5px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 35px;
}

.btn-medium
{
    font-size: 22px;
    font-weight: 600;
}

.btn-large 
{
    font-size: 30px;
    font-weight: 600;
    padding: 5px 5px;
}