.productCard {
    padding: 0;
    text-align: center;
    width: 250px;
    margin: 40px 45px;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.productTitle {
    margin: 5px 0;
    font-size: 1.2em;
    color: #482E1D;
}

.productPrice {
    color: #90553c;
    margin: 5px 0;
    font-size: 1em;
}