.rect{
    margin: 0 25%;
    margin-top: -30px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
  }

h1 {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    margin: 5px;
}


.food{
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.line {
    margin-left: 80px;
}