body {
    margin: 0;
    font-family: "El Messiri", serif;
}

.header {
    background-image: url(../../pictures/cats.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;
    flex-direction: row;
}

.submenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

.navList {
    display: flex;
    list-style-type: none;
    margin-top: -85px;
    margin-left: 45px;
    padding: 0;
}

.navItem {
    color: #482E1D;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    margin-right: 15px;
    transition: color 0.3s linear;
}

.navItem:hover {
    color: #A3966A;
}
    
.navItem button {
    background: none;
    border: none;
    color: #482e1d;
    font-family: El Messiri;
    font-size: 45px;
    cursor: pointer;
}

.navItem button:hover {
    text-decoration: underline;
    color: #A3966A;
}

.num {
    color: #482E1D;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s linear;
}

.num:hover {
    color: #A3966A;
}

.basket{
    margin-top: 15px;
    margin-right:  20px;
}

.phoneimg{
    margin-top: 15px;
    margin-right:  20px;
}

.number{
    margin-top: 15px;
    margin-right:  20px;
}

.phonetext {
    color: #482E1D;
    font-size: 20px;
    font-weight: 400;
}

.name {
    color: #482E1D;
    font-size: 90px;
    font-weight: 700;
    margin-top: -15px;
    margin-left: 45px;
}

