body {
    margin: 0;
    font-family: "El Messiri", serif;
}

footer{
    background: #a3966a;
    height: 225px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
}

.submenu{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40%;
}

.navList{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 10px;
    margin-right: -5px;
    padding: 0;
}

.navItem{
    color: #482E1D;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.3s linear;
}

.navItem:hover {
    color:#90553c;
}

.navItem button {
    background: none;
    padding-bottom: 10px;
    border: none;
    color: #482e1d;
    font-family: El Messiri;
    font-size: 25px;
    cursor: pointer;
}

.navItem button:hover {
    color: #90553c;
}

.about{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 35%;
    color: #482e1d;
}

.about h3{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 45px;
    
}

.about p{
    font-size: 15px;
    margin-top: -30px;
    margin-left: 45px;
}

.number {
    color: #482E1D;
    margin: -5px 25px;
    font-size: 20px;
    font-weight: 600;
}

.num {
    color: #482E1D;
}

.num:hover {
    color: #90553c;
}


